<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{greetings.tab_title}">Tab title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/site.css}" href="../static/css/site.css"/>
    <script th:src="@{js/home.js}" src="../static/js/home.js"></script>
</head>
<body>
<!--/*@thymesVar id="gene" type=""*/-->
<!--/*@thymesVar id="name" type=""*/-->
<h2 th:text="'The gene your requested is called [' + ${gene.name} + ']' "></h2>

<a href="#" th:href="@{/index}"><span th:text="#{greetings.link_home}">_Go Home!</span></a>

</body>
</html>