<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title th:text="#{home.tab_title}">_SB starter app home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" href="../static/css/site.css"/>
</head>
<body>
<a th:href="@{/(locale=nl)}" href="/locale=nl">
    <img th:src="@{/images/flag_nl.svg}" src="../static/images/flag_nl.svg" class="flag_logo"/>
</a>
<a th:href="@{/(locale=en)}" href="/locale=en">
    <img th:src="@{/images/flag_en.svg}" src="../static/images/flag_en.svg" class="flag_logo"/>
</a>

<p><span th:text="#{home.locale_message}">_Current locale language</span>: <span
        th:text="${#locale.language}">_en</span></p>

<p><span th:text="#{home.greeting_link}">_Get your greeting</span>
    <a th:href="@{'/' + ${#locale.language} + '/greeting'}"><span th:text="#{general.here}">_here</span></a>
</p>
</body>
</html>