<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<p th:text="'id: ' + ${firstForm.id}"/>
<p th:text="'content: ' + ${firstForm.content}"/>
<p th:text="'your email: ' + ${firstForm.email}"/>

<a href="/submit_form">Submit some more information</a>
</body>
</html>